# Importin libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [23]:
# Importing data orders_products_merged
path = r"C:\Users\ap101\INSTACART BASKET ANALYSIS"

In [3]:
df_ords_prods_merge = pd.read_pickle(r"C:\Users\ap101\INSTACART BASKET ANALYSIS\02 Data\Prepared Data\orders_products_merged.pkl")

In [4]:
# Create a subset for first 1 million entries
df = df_ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 14)

In [6]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
6,550135.0,1.0,7.0,1.0,9.0,20.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both

In [8]:
df.groupby('product_name')

Seems like nothing has happened, but it has worked. You just can't see it. Groupby function by itself is useless (you need to do something else to it) Needs to be used as a series of steps:

1. Split data into groups based on some criteria
2. Apply function to each group separately
3. Combine results into dataframe or create new column in current dataframe

# Aggregating Data with agg()

These functions create summaries of selected columns and store the summary values in new columns

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4.0              19.315612
7.0              17.466053
13.0             17.753001
14.0             19.246334
16.0             19.463012
17.0             11.294069
19.0             21.234049

In [10]:
# Some aggregations can be conducted without use of agg() function
df.groupby('department_id')['order_number'].mean()

department_id
4.0     19.315612
7.0     17.466053
13.0    17.753001
14.0    19.246334
16.0    19.463012
17.0    11.294069
19.0    21.234049
Name: order_number, dtype: float64

Key difference in syntax between the 2 methods is when using agg() function, put column you want to aggregate inside (). When using mean() function, index the column with [] instead and follow it with function you want to use after "."

** Good idea to use square brackets bc they have no other role beyond indexing, "." have a role in Python.

In [11]:
# Performing multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
4.0              19.315612  1.0  99.0
7.0              17.466053  1.0  99.0
13.0             17.753001  1.0  99.0
14.0             19.246334  1.0  99.0
16.0             19.463012  1.0  99.0
17.0             11.294069  1.0  98.0
19.0             21.234049  1.0  99.0

# Aggregating data with transform()

In [12]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,11.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
6,550135.0,1.0,7.0,1.0,9.0,20.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,11.0
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,11.0
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,23.0
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196.0,6.0,1.0,Soda,77.0,7.0,9.0,both,23.0
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,23.0
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,23.0
14,487368.0,15.0,22.0,1.0,10.0,14.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,23.0

In [14]:
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,11.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575.0,360.0,1.0,5.0,12.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,4.0
96,1469869.0,377.0,3.0,5.0,17.0,3.0,196.0,9.0,0.0,Soda,77.0,7.0,9.0,both,4.0
97,1927023.0,387.0,2.0,4.0,10.0,22.0,196.0,3.0,0.0,Soda,77.0,7.0,9.0,both,9.0
98,858092.0,420.0,4.0,1.0,19.0,30.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,23.0
99,119314.0,420.0,5.0,3.0,19.0,16.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,23.0

Above output is not giving you all 100 rows bc Jupyter's display option is currently set to prevent you from printing too many rows via the head() function. To fix this use following code: pd.options.display.max_rows = None

In [15]:
pd.options.display.max_rows = None

In [16]:
df_ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,11.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
6,550135.0,1.0,7.0,1.0,9.0,20.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,11.0
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,11.0
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,23.0
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196.0,6.0,1.0,Soda,77.0,7.0,9.0,both,23.0
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,23.0
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,23.0
14,487368.0,15.0,22.0,1.0,10.0,14.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,23.0
15,2293453.0,19.0,2.0,5.0,14.0,6.0,196.0,3.0,0.0,Soda,77.0,7.0,9.0,both,10.0
16,1973799.0,19.0,5.0,6.0,12.0,8.0,196.0,15.0,1.0,Soda,77.0,7.0,9.0,both,10.0
17,532817.0,19.0,7.0,4.0,17.0,6.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0
18,1573906.0,21.0,10.0,3.0,10.0,6.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,34.0
19,1593000.0,31.0,10.0,3.0,8.0,7.0,196.0,17.0,0.0,Soda,77.0,7.0,9.0,both,21.0
20,2231262.0,31.0,17.0,3.0,11.0,8.0,196.0,14.0,1.0,Soda,77.0,7.0,9.0,both,21.0
21,2580647.0,43.0,6.0,4.0,16.0,4.0,196.0,9.0,0.0,Soda,77.0,7.0,9.0,both,12.0
22,2187180.0,43.0,9.0,4.0,12.0,3.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,12.0
23,2497897.0,52.0,1.0,1.0,9.0,NaN,196.0,4.0,0.0,Soda,77.0,7.0,9.0,both,28.0
24,1318871.0,52.0,2.0,1.0,10.0,7.0,196.0,5.0,1.0,Soda,77.0,7.0,9.0,both,28.0
25,1261384.0,52.0,3.0,1.0,10.0,7.0,196.0,3.0,1.0,Soda,77.0,7.0,9.0,both,28.0
26,580568.0,52.0,5.0,2.0,10.0,8.0,196.0,6.0,1.0,Soda,77.0,7.0,9.0,both,28.0
27,2428073.0,52.0,7.0,2.0,7.0,8.0,196.0,5.0,1.0,Soda,77.0,7.0,9.0,both,28.0
28,342306.0,52.0,9.0,1.0,11.0,7.0,196.0,5.0,1.0,Soda,77.0,7.0,9.0,both,28.0
29,1520353.0,52.0,10.0,2.0,10.0,8.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,28.0
30,2542086.0,52.0,11.0,2.0,9.0,7.0,196.0,3.0,1.0,Soda,77.0,7.0,9.0,both,28.0
31,944694.0,52.0,12.0,1.0,16.0,6.0,196.0,7.0,1.0,Soda,77.0,7.0,9.0,both,28.0
32,1268191.0,52.0,15.0,2.0,11.0,8.0,196.0,3.0,1.0,Soda,77.0,7.0,9.0,both,28.0
33,1122089.0,52.0,17.0,2.0,10.0,6.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,28.0
34,1498922.0,52.0,18.0,2.0,10.0,14.0,196.0,6.0,1.0,Soda,77.0,7.0,9.0,both,28.0
35,180919.0,52.0,19.0,3.0,8.0,8.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,28.0
36,2695875.0,52.0,21.0,5.0,10.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,28.0
37,3205960.0,67.0,1.0,3.0,11.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,25.0
38,970922.0,67.0,2.0,1.0,15.0,5.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,25.0
39,596585.0,67.0,3.0,1.0,13.0,7.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,25.0
40,2037087.0,67.0,4.0,2.0,9.0,8.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
41,2474111.0,67.0,5.0,3.0,14.0,8.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,25.0
42,1568481.0,67.0,6.0,3.0,12.0,7.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,25.0
43,2048527.0,67.0,8.0,2.0,11.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
44,2389031.0,67.0,9.0,2.0,14.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
45,2378562.0,67.0,10.0,1.0,10.0,6.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
46,1515698.0,67.0,11.0,1.0,11.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
47,1928050.0,67.0,12.0,2.0,12.0,8.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
48,1949274.0,67.0,13.0,1.0,10.0,6.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
49,551869.0,67.0,14.0,1.0,9.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
50,768572.0,67.0,16.0,4.0,10.0,9.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
51,150528.0,67.0,18.0,5.0,16.0,4.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
52,29758.0,67.0,19.0,0.0,14.0,9.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,25.0
53,1558976.0,67.0,21.0,1.0,9.0,5.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,25.0
54,863974.0,67.0,22.0,1.0,11.0,14.0,196.0,3.0,1.0,Soda,77.0,7.0,9.0,both,25.0
55,2308399.0,67.0,23.0,1.0,14.0,14.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,25.0
56,2759128.0,81.0,3.0,1.0,9.0,14.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,8.0
57,1812985.0,81.0,5.0,2.0,20.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,8.0
58,1889835.0,82.0,1.0,3.0,15.0,NaN,196.0,6.0,0.0,Soda,77.0,7.0,9.0,both,20.0
59,499460.0,82.0,3.0,5.0,10.0,5.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,20.0
60,2728456.0,82.0,4.0,0.0,11.0,16.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,20.0
61,2653743.0,82.0,6.0,4.0,9.0,13.0,196.0,5.0,1.0,Soda,77.0,7.0,9.0,both,20.0
62,1358880.0,82.0,9.0,1.0,10.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,20.0
63,343588.0,82.0,10.0,2.0,11.0,1.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,20.0
64,3034663.0,82.0,15.0,2.0,11.0,12.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,20.0
65,147262.0,82.0,18.0,1.0,13.0,7.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,20.0
66,3144004.0,82.0,19.0,2.0,15.0,8.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,20.0
67,2126069.0,98.0,3.0,0.0,9.0,25.0,196.0,7.0,0.0,Soda,77.0,7.0,9.0,both,15.0
68,2210120.0,98.0,7.0,5.0,14.0,5.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,15.0
69,681011.0,98.0,9.0,3.0,9.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,15.0
70,2846344.0,98.0,11.0,4.0,13.0,15.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,15.0
71,747431.0,98.0,12.0,6.0,13.0,30.0,196.0,4.0,1.0,Soda,77.0,7.0,9.0,both,15.0
72,2383054.0,98.0,13.0,4.0,11.0,30.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,15.0
73,1993729.0,98.0,14.0,5.0,8.0,8.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,15.0
74,1403849.0,109.0,3.0,3.0,17.0,9.0,196.0,5.0,0.0,Soda,77.0,7.0,9.0,both,7.0
75,520620.0,120.0,1.0,3.0,11.0,NaN,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,4.0
76,3273029.0,120.0,3.0,2.0,8.0,19.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,4.0
77,1861943.0,185.0,2.0,1.0,12.0,25.0,196.0,10.0,0.0,Soda,77.0,7.0,9.0,both,7.0
78,2040988.0,195.0,1.0,1.0,14.0,NaN,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,59.0
79,1680569.0,195.0,8.0,1.0,9.0,4.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
80,276171.0,195.0,19.0,5.0,11.0,3.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
81,2744976.0,195.0,22.0,5.0,10.0,7.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
82,2781919.0,195.0,25.0,1.0,14.0,4.0,196.0,1.0,1.0,Soda,77.0,7.0,9.0,both,59.0
83,1738718.0,195.0,31.0,2.0,8.0,4.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
84,3058369.0,195.0,34.0,3.0,10.0,6.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
85,1485596.0,195.0,37.0,2.0,15.0,0.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
86,417035.0,195.0,40.0,3.0,16.0,2.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
87,1615297.0,195.0,47.0,5.0,10.0,2.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,59.0
88,1765587.0,195.0,52.0,3.0,12.0,2.0,196.0,3.0,1.0,Soda,77.0,7.0,9.0,both,59.0
89,745908.0,195.0,57.0,4.0,11.0,3.0,196.0,3.0,1.0,Soda,77.0,7.0,9.0,both,59.0
90,2505656.0,222.0,17.0,2.0,12.0,1.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,71.0
91,3268370.0,222.0,38.0,5.0,15.0,1.0,196.0,6.0,1.0,Soda,77.0,7.0,9.0,both,71.0
92,2016711.0,290.0,9.0,5.0,19.0,6.0,196.0,8.0,0.0,Soda,77.0,7.0,9.0,both,52.0
93,2706088.0,290.0,28.0,6.0,10.0,7.0,196.0,16.0,1.0,Soda,77.0,7.0,9.0,both,52.0
94,1952286.0,331.0,6.0,5.0,16.0,30.0,196.0,8.0,0.0,Soda,77.0,7.0,9.0,both,9.0
95,3226575.0,360.0,1.0,5.0,12.0,NaN,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both,4.0
96,1469869.0,377.0,3.0,5.0,17.0,3.0,196.0,9.0,0.0,Soda,77.0,7.0,9.0,both,4.0
97,1927023.0,387.0,2.0,4.0,10.0,22.0,196.0,3.0,0.0,Soda,77.0,7.0,9.0,both,9.0
98,858092.0,420.0,4.0,1.0,19.0,30.0,196.0,2.0,0.0,Soda,77.0,7.0,9.0,both,23.0
99,119314.0,420.0,5.0,3.0,19.0,16.0,196.0,2.0,1.0,Soda,77.0,7.0,9.0,both,23.0

# Deriving columns with loc()

In [17]:
# Create flag that assigns "loyalty" label to user ID based on corresponding max order value
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    16381472
Loyal customer      10679578
New customer         5580218
NaN                       11
Name: loyalty_flag, dtype: int64

In [21]:
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       1.0  Regular customer           1.0
1       1.0  Regular customer           2.0
2       1.0  Regular customer           3.0
3       1.0  Regular customer           4.0
4       1.0  Regular customer           5.0
5       1.0  Regular customer           6.0
6       1.0  Regular customer           7.0
7       1.0  Regular customer           8.0
8       1.0  Regular customer           9.0
9       1.0  Regular customer          10.0
10     15.0  Regular customer          15.0
11     15.0  Regular customer          17.0
12     15.0  Regular customer          18.0
13     15.0  Regular customer          21.0
14     15.0  Regular customer          22.0
15     19.0      New customer           2.0
16     19.0      New customer           5.0
17     19.0      New customer           7.0
18     21.0  Regular customer          10.0
19     31.0  Regular customer          10.0
20     31.0  Regular customer          17.0
21     43.0  Regular customer           6.0
22     43.0  Regular customer           9.0
23     52.0  Regular customer           1.0
24     52.0  Regular customer           2.0
25     52.0  Regular customer           3.0
26     52.0  Regular customer           5.0
27     52.0  Regular customer           7.0
28     52.0  Regular customer           9.0
29     52.0  Regular customer          10.0
30     52.0  Regular customer          11.0
31     52.0  Regular customer          12.0
32     52.0  Regular customer          15.0
33     52.0  Regular customer          17.0
34     52.0  Regular customer          18.0
35     52.0  Regular customer          19.0
36     52.0  Regular customer          21.0
37     67.0  Regular customer           1.0
38     67.0  Regular customer           2.0
39     67.0  Regular customer           3.0
40     67.0  Regular customer           4.0
41     67.0  Regular customer           5.0
42     67.0  Regular customer           6.0
43     67.0  Regular customer           8.0
44     67.0  Regular customer           9.0
45     67.0  Regular customer          10.0
46     67.0  Regular customer          11.0
47     67.0  Regular customer          12.0
48     67.0  Regular customer          13.0
49     67.0  Regular customer          14.0
50     67.0  Regular customer          16.0
51     67.0  Regular customer          18.0
52     67.0  Regular customer          19.0
53     67.0  Regular customer          21.0
54     67.0  Regular customer          22.0
55     67.0  Regular customer          23.0
56     81.0      New customer           3.0
57     81.0      New customer           5.0
58     82.0  Regular customer           1.0
59     82.0  Regular customer           3.0

In [22]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.8_ords_prods_merge'))